@keyframes logo {
    from {
        width: 25px;
        opacity: 0;
    }

    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: logo 5s;
    /* animation-fill-mode: forwards; */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.nav_item :visited {
    color: #0000EE;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-radius: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    /* display: flex; */
    flex-direction: column;
    flex-basis: 450px;
    flex-grow: 0.2;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    border: 10px solid #50C7C7;
    width: 300px;
    margin: 10px;
}

.gallery {
    display: flex;
    flex-flow: wrap;
    /* align-items: center; */
    justify-content: center;
}

@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links {
        flex-direction: row;
    }
    .card {
        flex-basis: 275px;
        flex-grow: 0;
    }
    /* 开始时 35 + 20
       结束时 91.42 + 20
       20 是下面的 margin
       border 有 3px，原始的 开始 32px，结束 88.42px
       图片 419 * 78
       初始图片高度 25/419*78 = 4.65px
       每秒变化 (88.42-4.65)/5 = 16.754px
       开始增长时间 (32-4.65)/16.754 = 1.63s
     */
    @keyframes hh {
        from {
            height: 27.65px;
        }
    
        to {
            height: 111.42px;
        }
    }
    body > header {
        position: fixed;
        width: 100%;
    }
    main:before {
        display: block;
        content: "";
        min-height: 55px;
        height: 101px;
        animation: hh 5s;
    }
}
